<div class="text-center mt-4 mb-5">
    <h1 class="card-title">Bienvenido!</h1>
</div>
<div class="alert alert-success" role="alert" *ngIf="params.registered">
    Revise su email {{params.email}} para activar su cuenta
</div>
<div class="alert alert-danger" role="alert" *ngIf="error">
    <span>{{error}}</span>
</div>
<form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control fadeUp" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control fadeUp" formControlName="password" id="exampleInputPassword1">
        <a id="emailHelp" href="" class="form-text text-muted text-right mt-3">
            <small>
                Has olvidado tu contraseña?
            </small>
        </a>
    </div>
    <button type="submit" class="btn btn-new btn-yellow fadeUp" [disabled]="loginForm.invalid">Ingresar</button>
</form>
<div class="mt-4 text-center">
    <p>No tienes cuenta? <a routerLink="/auth/register" class="text-yellow font-weight-bold">Registrate!</a></p>
</div>