.form-control {
    border-color: #f8f8f8;
    border-width: 2px;
    height: calc(2em + .75rem + 2px);
    border-radius: .4em !important;
    font-weight: 300;
}

.form-control:hover,
.form-control:focus {
    box-shadow: none;
    border-color: #e9e9e9;
}

.sub-header form .input-group-text,
.sub-header form .form-control {
    border: none;
    font-weight: 300;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.04);
    height: 42px;
}

.form-check {
    padding-left: 0;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    color: #ffc529;
    font-size: 16px;
    display: inline-block;
    letter-spacing: 4px;
    content: "\f096";
    font-family: 'FontAwesome';
}

input[type=checkbox]:checked + label:before {
    color: #ffc529;
    content: "\f14a";
    letter-spacing: 3px;
}