<div class="container">

  <header class="d-flex flex-column flex-md-row align-items-center">
    <h5 class="mr-md-auto font-weight-normal">Limpio y bueno</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2" href="#">
        <i class="fa fa-cube mr-1" aria-hidden="true"></i>
        Tus negocios
      </a>
      <a class="p-2" href="#">
        Ordenes
      </a>
      <a class="p-2" href="#">
        <span class="shopping-cart-badge">10</span>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Carrito
      </a>
    </nav>

    <div class="dropdown nav-profile">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="profile-image" src="../assets/images/profile-img.png" alt="">
        Nani Nario
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Perfil</a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-lock" aria-hidden="true"></i>
          Salir
        </a>
      </div>
    </div>

  </header>

  <div class="header-body">
    <div class="header-body-form">
      <h1 class="header-body-title mb-3">
        Nuestros negocios
      </h1>
      <form>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Busca por nombre de servicio" autofocus>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="header-body-button">
      <a href="" class="btn btn-primary lift-blue">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Registra tu negocio
      </a>
    </div>
  </div>

  <div class="card-container">
    <a class="card lift" *ngFor='let store of stores'>
      <app-store [store]="store"></app-store>
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
