.business {
    width: 100%;
    .categories{
        margin-right: 20px;
    }
}
.business img{
    height: 200px;
    border-radius: .4em;
}

.business h1{
    font-size: 30px;
}

nb-icon{
    width: 15px;
    height: 17px;
}