<div class="content" style="display: block;">
    <div class="business row">
        <div class="col-4">
            <img [src]="store?.photo || '/assets/images/default_store.png'" alt="">
        </div>
        <div class="business-info col-8">
            <div class="business-name">
                <h1>{{store?.name}}</h1>
            </div>
            <div style="display: flex;">
                <div class="categories"><span *ngFor="let category of store?.categories">{{category.name}}</span></div>
                <div class="stars">
                    <i class="iconf-start"></i> <span>5</span>
                </div>
            </div>
        </div>
    </div>
</div>