@import url("./assets/css/font-face.css");
@import url("./assets/css/nucleo.css");

@import url("./assets/bootstrap/css/bootstrap.min.css");

@import url("./assets/css/components/navbar.css");
@import url("./assets/css/components/cards.css");
@import url("./assets/css/components/buttons.css");
@import url("./assets/css/components/forms.css");
@import url("./assets/css/components/transitions.css");

@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

html,
body {
    font-family: "Cerebri Sans", Helvetica, Arial, sans-serif !important;
    background-color: #f8f8f8;
    font-weight: 300;
    font-size: 14px;
    min-height: 100vh;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit
}

p {
    margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    letter-spacing: -.02em;
}

.height-vh {
    min-height: 100vh;
}

.text-yellow {
    color: #ffc529;
}

a.text-yellow:hover,
a.text-yellow:focus {
    color: #f0b40f;
}

.badge.badge-tag {
    background-color: #e6e6e6;
    color: #aaacaf;
    padding: 6px 8px;
    margin-right: 4px;
}

.display-2 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}

#wrap-content {
    margin-top: -4rem !important;
}

#wrap-content .content {
    background-color: #fff;
    height: 100%;
    border-radius: .6em !important;
    padding: 24px;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    #wrap-content .content {
        padding: 12px;
    }
}

@media (min-width: 768px) {
    .main-content #wrap-content {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }
}